;; =====================================
;; Secret Macros (DO NOT COMMIT w/o .tmpl)
;; ====================================

(defalias

  macro_msg (macro h e l l o .)

  macro_pw1 (macro p a s s Digit1)
  macro_pw2 (macro p a s s Digit2)
  macro_pw3 (macro p a s s Digit3)
)
